/**
 * Lumday AG Theme
 *
 * extends ag-theme-balham
 * @author Calvin Juárez <calvin.juarez@gmail.com>
 */


 @import 'ag-grid-community/styles/ag-theme-balham.css';


.ag-theme-lumday {

  // THEME VARIABLES

  // containers
  --ag-lumday-root-border-radius: var(--ag-grid-size);
  --ag-lumday-root-left-border: solid var(--ag-grid-size);

  // grid
  --ag-grid-size: .4rem;
  --ag-borders: solid 1px; // restore
  --ag-borders-critical: var(--ag-borders);
    // text
    --ag-font-size: 1rem;

  // headers
  --ag-header-height: var(--ag-row-height);
  --ag-header-background-color: var(--ag-background-color);
    // text
    --ag-lumday-header-font-size: calc(var(--ag-font-size) * 1.1);


  // STYLES

  // containers
  .ag-root-wrapper {
    // It's easy to add custom theme-able vars in the CSS that could be
    // added to the Figma file to allow a designer to tweak things.
    border-radius: var(--ag-lumday-root-border-radius);
  }
  .ag-root {
    border-left: var(--ag-lumday-root-left-border);
    // CSS custom properties make it pretty trivial to include values from
    // outside the theme in the styles, making it super easy to set stuff with
    // javascript.
    border-left-color: var(--lum-custom-group-color, var(--ag-border-color));
  }

  // grid
  .ag-header-row {
    font-weight: inherit;
  }
  .ag-header-cell {
    font-size: var(--ag-lumday-header-font-size);

    &:last-child::after {
      content: none;
    }
  }

}
